.container{
    width: 480px;
    text-align: center;
    display: flex;
    overflow: hidden;
}

.input-style {
    margin-top: .5rem;
    width: 100%; 
}

.prueba {
    color: chartreuse;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}