<div class="container">
  <form method="post">
    <div class="input-style">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre">
    </div>
    <div class="input-style">
      <label for="apellido">Apellido:</label>
      <input type="text" id="apellido">
    </div>
    <div class="input-style">
      <label for="edad">Edad:</label>
      <input type="number" id="edad" min="16">
    </div>
    <fieldset class="input-style">
      <legend>Selecciona el sexo:</legend>
      <div>
        <input type="radio" name="" id="hombre" name="sexo" value="M">
        <label for="hombre">Hombre</label>
      </div>
      <div>
        <input type="radio" name="" id="mujer" name="sexo" value="F">
        <label for="mujer">Mujer</label>
      </div>
    </fieldset>
    <label for="bio">Sobre el candidato:</label>
    <div class="input-style">
      <textarea name="bio" id="bio" cols="20" rows="8"></textarea>
    </div>
  </form>
</div>